

.layout {
    min-height: 100vh;
    background-image:  url(/images/Frame.svg), linear-gradient(to right, #FFE9D3, #FFE9D3);
    background-position: top;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
}

.header {
    background-color: #fff;
    position: fixed;
    padding: 0 70px 0 34px;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
    min-height: 91px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
}

.content {
   margin-top: 91px;
}

.footer{
border-top: 10px solid #248742;
background-color: #2F2D38;
}


